---
title: Final Bout 3 | Drift Videos by Justin Laxamana
permalink: "/fb3/"
layout: grid
the_name: Final Bout 3
the_description: "<p>Final Bout 3 took place on September 3rd-4th 2017 in Shawano,
  WI at US Air Motorsports Raceway. This event featured drift teams from all over
  North America displaying beautiful car styling and aggressive driving.</p>"
featured_images:
  large: "/v1544831099/fb3-lrg.jpg"
  small: "/v1544831322/fb3-sm.jpg"
logo:
  image: "/v1543967765/finalbout-logo.png"
  url: "#"
videos:
  video:
  - {}

---
<div class="grid">
  <div class="grid-intro">
    <div class="container">
      <div class="grid-intro__content">
        <h1 data-aos="fade-left" data-aos-delay="500" data-aos-easing="ease-in-out" data-aos-duration="500">{{ page.the_name}}</h1>
        <div class="content" data-aos="fade-right" data-aos-delay="700" data-aos-easing="ease-in-out" data-aos-duration="500">
          <div class="details">
            {{ page.the_description }}
          </div> <!-- / .details -->
        </div>
      </div> <!-- / __content -->
      <div class="grid-intro__circle">
        <div class="image">
          <picture data-aos="fade-right" data-aos-delay="900" data-aos-easing="ease-in-out" data-aos-duration="500">
            <source media="(min-width: 1900px)" srcset="https://res.cloudinary.com/justinlaxamana/image/upload/c_scale,w_1920{{ page.featured_images.large | relative_url }}, https://res.cloudinary.com/justinlaxamana/image/upload{{ page.featured_images.large | relative_url }} 2x">
            <source media="(min-width: 1300px)" srcset="https://res.cloudinary.com/justinlaxamana/image/upload/c_scale,w_1500{{ page.featured_images.large | relative_url }}, https://res.cloudinary.com/justinlaxamana/image/upload/c_scale,w_1920{{ page.featured_images.large | relative_url }} 2x">
            <source media="(min-width: 700px)" srcset="https://res.cloudinary.com/justinlaxamana/image/upload/c_scale,w_700{{ page.featured_images.large | relative_url }}, https://res.cloudinary.com/justinlaxamana/image/upload/c_scale,w_1500{{ page.featured_images.large | relative_url }} 2x">
            <source media="(min-width: 200px)" srcset="https://res.cloudinary.com/justinlaxamana/image/upload/c_scale,w_500{{ page.featured_images.large | relative_url }}, https://res.cloudinary.com/justinlaxamana/image/upload/c_scale,w_700{{ page.featured_images.large | relative_url }} 2x">
            <img src="https://res.cloudinary.com/justinlaxamana/image/upload/c_scale,w_700{{ page.featured_images.large | relative_url }}" alt="Final Bout 3 Image">
          </picture>
        </div> <!-- / .image -->
        <div class="corner" data-aos="fade-left" data-aos-delay="1000" data-aos-easing="ease-in-out" data-aos-duration="500">
          <picture>
            <source media="(min-width: 700px)" srcset="https://res.cloudinary.com/justinlaxamana/image/upload/c_scale,w_500{{ page.featured_images.small | relative_url }}, https://res.cloudinary.com/justinlaxamana/image/upload/c_scale,w_700{{ page.featured_images.small | relative_url }} 2x">
            <img src="https://res.cloudinary.com/justinlaxamana/image/upload/c_scale,w_700{{ page.featured_images.small | relative_url }}" alt="Final Bout 3 Image">
          </picture>
        </div> <!-- / .corner -->
      </div> <!-- / __circle -->
    </div> <!-- / .container -->
  </div> <!-- / .grid-intro -->

  <div class="grid-section">
    <div class="container">
      <div class="grid-section__header">
        <h2>Videos</h2>
        
        {% for video in page.videos %}
        {{ if video.is_featured }}
        <div class="grid-section__item" data-aos="fade-up"  data-aos-easing="ease-in-out" data-aos-delay="100" data-aos-duration="500">
          {{ if video.coming_soon }}
          <div class="soon"><span>Coming Soon</span></div>
          {{ end }}
          <div class="image">
            <picture>
              <source media="(min-width: 1200px)" srcset="https://res.cloudinary.com/justinlaxamana/image/upload/c_scale,w_700{{ video.thumbnail | relative_url }}, https://res.cloudinary.com/justinlaxamana/image/upload/c_scale,w_1500{{ video.thumbnail | relative_url }} 2x">
              <source media="(min-width: 700px)" srcset="https://res.cloudinary.com/justinlaxamana/image/upload/c_scale,w_500{{ video.thumbnail | relative_url }}, https://res.cloudinary.com/justinlaxamana/image/upload/c_scale,w_700{{ video.thumbnail | relative_url }} 2x">
              <img src="https://res.cloudinary.com/justinlaxamana/image/upload/c_scale,w_700{{ video.thumbnail | relative_url }}" alt="{{ page.the_name }} Image">
            </picture>
            <div class="image__contents">
              <a href="{{ video.youtube }}" class="play">
                {% svg ../../assets/resources/play.svg %}
              </a>
              <a href="{{ video.download }}" class="download">
                {% svg ../../assets/resources/download.svg %}
              </a>
            </div> <!-- / __contents -->
          </div> <!-- / .image -->
        </div> <!-- / __item -->
        
		{{ end }}
        {% endfor %}
        
        <a href="{{ page.logo.url}}" target="_blank" class="logo">
          <img src="https://res.cloudinary.com/justinlaxamana/image/upload{{ page.logo.image}}" alt="Final Bout 3 Logo">
        </a>
      </div> <!-- / __header -->
      <div class="grid-section__grid">
        
        
        {% for video in page.videos %}
        {{ if video.is_featured }}{{ else }}
        <div class="grid-section__item" data-aos="fade-up"  data-aos-easing="ease-in-out" data-aos-duration="500">
          {{ if video.coming_soon }}
          <div class="soon"><span>Coming Soon</span></div>
          {{ end }}
          <div class="image">
            <picture>
              <source media="(min-width: 1200px)" srcset="https://res.cloudinary.com/justinlaxamana/image/upload/c_scale,w_700/fb3-2.jpg, https://res.cloudinary.com/justinlaxamana/image/upload/c_scale,w_1500/fb3-2.jpg 2x">
              <source media="(min-width: 700px)" srcset="https://res.cloudinary.com/justinlaxamana/image/upload/c_scale,w_500/fb3-2.jpg, https://res.cloudinary.com/justinlaxamana/image/upload/c_scale,w_700/fb3-2.jpg 2x">
              <img src="https://res.cloudinary.com/justinlaxamana/image/upload/c_scale,w_700/fb3-2.jpg" alt="Final Bout 3 Image">
            </picture>
            <div class="image__contents">
              <a href="{{ video.youtube }}" class="play">
                {% svg ../../assets/resources/play.svg %}
              </a>
              <a href="{{ video.download }}" class="download">
                {% svg ../../assets/resources/download.svg %}
              </a>
            </div> <!-- / __contents -->
          </div> <!-- / .image -->
        </div> <!-- / __item -->
        {{ end }}
        {% endfor %}
        




      </div> <!-- / __grid -->
    </div> <!-- / .container -->
  </div> <!-- / .grid-section -->


  <span class="grid__bg1 grid__bg"></span>
  <span class="grid__bg2 grid__bg"></span>
  <span class="waypoint" data-aos="fade"></span>
</div> <!-- / .grid -->