---
title: 'Client Work | Projects by Justin Laxamana '
permalink: "/dc5dc2ek9s13s14s15ae86/"
layout: nofollow
featured_project:
- title: Learn Drifting
  industry: Automotive / Gaming
  details: Brand Identity / Video / Design / Front-End Development
  button: Preview Homepage
  url: https://www.jlax86.com/ld-preview
project:
- title: BURSTspeed
  url: https://www.burstspeed.us/
  description: Brand Identity / Video / Design / Front-End Development
  industry: Automotive
  details: Brand Identity / Video / Design / Front-End Development
- title: Email UI Patterns
  industry: Marketing
  details: HTML Email Design & Front-End Development
  url: https://projects.jlax86.com/html-emails
- title: Specless
  industry: Advertising
  details: Responsive web design / Front-end development
  url: https://projects.jlax86.com/specless
- title: Traction Tools
  industry: Software
  details: Responsive web design / Front-end development
  url: https://projects.jlax86.com/traction-tools
- title: Edlong
  industry: Food
  details: Responsive web design / Front-end development
  url: https://www.edlong.com/
- title: " Nurse.com"
  industry: Medical
  details: Responsive web design / Front-end development
  url: https://projects.jlax86.com/nurse
- title: FVF Law
  industry: Law Firm
  details: Responsive web design / Front-end development
  url: https://projects.jlax86.com/fvf
- title: Ellison Sunglasses
  industry: Fashion
  details: Responsive web design / Parallax front-end development
  url: https://projects.jlax86.com/ellison
- title: Polymer Digital
  industry: Agency
  details: Responsive web design / Front-end development
  url: https://projects.jlax86.com/polymer-digital
- title: Solid Digital
  industry: Agency
  details: Responsive web design / Front-end development
  url: https://projects.jlax86.com/solid
- title: Selective Search
  industry: Matchmaking
  details: Responsive web design / Front-end development / Wordpress Integration
  url: https://www.selectivesearch.com/
- title: Hopebridge
  industry: Medical
  details: Responsive web design / Front-end development
  url: https://www.hopebridge.com/
- title: GoChip
  industry: Entertainment
  details: Responsive web design / Front-end development
  url: https://projects.jlax86.com/gochip
- title: Screenflex
  industry: Product
  details: Responsive web design / Front-end development
  url: https://projects.jlax86.com/screenflex
- title: MSCI
  industry: Industrial
  details: Responsive web design / Front-end development
  url: https://www.msci.org/
- title: Veridea Group
  industry: Real Estate
  details: Responsive web design / Front-end development / Wordpress Integration
  url: http://www.verideagroup.com/
- title: Power Smart Pricing
  industry: Electricity Pricing
  details: Responsive web design / Front-end development
  url: https://www.powersmartpricing.org/
- title: Madden
  industry: Catalog
  details: Responsive web design / Front-end development
  url: https://projects.jlax86.com/madden
- title: Broadly
  industry: Software
  details: Responsive web design / Front-end development / After Effects Animations
  url: https://broadly.com/product/
- title: My Car Does What
  industry: Automotive
  details: Responsive web design / Front-end development
  url: https://mycardoeswhat.org/
- title: RSI
  industry: Law
  details: Responsive web design / Front-end development
  url: https://www.aboutrsi.org/
- title: 'The Observer '
  industry: News
  details: Responsive web design / Front-end development
  url: https://ndsmcobserver.com/
- title: Suretint
  industry: Hair
  details: Responsive web design / Front-end development
  url: https://projects.jlax86.com/suretint
- title: RHEA Space Activity
  industry: Research
  details: Responsive web design / Front-end development
  url: https://projects.jlax86.com/space
- title: Jelly
  industry: Web App
  details: Responsive web design / Front-end development
  url: https://projects.jlax86.com/jelly
- title: Naveed Usman
  industry: Portfolio
  details: Responsive web design / Front-end development
  url: https://projects.jlax86.com/naveed
- title: " Dale Dasalla"
  industry: Portfolio
  details: Responsive web design / Front-end development
  url: http://www.daledasalla.com/
- title: University of Chicago Biophysics
  industry: Education
  details: Front-end development
  url: https://biophysics.uchicago.edu/

---
<div class="client-work">
  <div class="container">
    <div class="client-work__personal">
      {% for featured_project in page.featured_project %}
      <div class="item">
        <section class="project__content">
          <p class="lrg">{{ featured_project.title }} <span class="tag">{{ featured_project.industry }}</span></p>
          <p>{{ featured_project.details }}</p>
        </section>
        <a target="_blank" href="{{ featured_project.url }}" class="special button"><span>{{ featured_project.button }}</span></a>
      </div> <!-- / .item -->
      {% endfor %}

    </div> <!-- / __personal -->
    <h1>{{ page.heading }}</h1>
    <div class="client-work__projects">

      {% for project in page.project %}
      <div class="project">
        <section class="project__content">
          <h2>{{ project.title }} <span class="tag">{{ project.industry }}</span></h2>
          <p>{{ project.details }}</p>
        </section>
        <a target="_blank" href="{{ project.url }}" class="button">View</a>
      </div> <!-- / .project -->
      {% endfor %}

    </div> <!-- / __projects -->
  </div> <!-- / .container -->
  <span class="waypoint" data-aos="fade"></span>
</div> <!-- / client-work -->