</main>
<footer class="global-footer">
  <div class="scene footer">
    <a href="/contact" class="scene__sun scene__sun--footer">
      <span class="thanks">
        <span class="thanks__inner">
          <span class="p"><strong>Thank You</strong> for Visiting</span>
          <span class="button">Contact</span>
        </span> <!-- / __inner -->
      </span> <!-- / .thanks -->
    </a> <!-- / __sun -->
    <div class="scene__sky scene__sky--blue"></div>

    <div class="scene__hills-back">
      {% svg ../../assets/resources/hills-back-b.svg %}
    </div> <!-- / __hills-back -->
    <div class="scene__hills-front">
      {% svg ../../assets/resources/hills-front-b.svg %}
    </div> <!-- / __hills-front -->
    <div class="scene__city">
      {% svg ../../assets/resources/city.svg %}
    </div> <!-- / __city -->
    <div class="scene__water"></div> <!-- / __water -->
    <div class="scene__foreground ground">
      <div class="scene__foreground__left">
        {% svg ../../assets/resources/foreground.svg %}
      </div> <!-- / __left -->
      <div class="scene__foreground__right">
        {% svg ../../assets/resources/foreground-cap.svg %}
      </div> <!-- / __right -->
      <ul class="scene__items">
        <li class="scene__items__sniper">
          {% svg ../../assets/resources/sniper.svg %}
        </li> <!-- / __sniper -->
        <li class="scene__items__bike">
          {% svg ../../assets/resources/bike.svg %}
        </li> <!-- / __bike -->
        <li class="scene__items__helmet">
          {% svg ../../assets/resources/helmet.svg %}
        </li> <!-- / __helmet -->
        <li class="scene__items__cat">
          {% svg ../../assets/resources/cat.svg %}
        </li> <!-- / __cat -->
      </ul> <!-- / __items -->
      <footer class="info">
        <div class="info__icon">
          {% svg ../../assets/resources/jlax-logo-small.svg %}
        </div> <!-- / __icon -->
        <div class="info__details">
          <ul class="social">
            <li><a href="mailto:hello@jlax86.com" alt="email">{% svg ../../assets/resources/email.svg %}</a></li>
            <li><a target="_blank" href="https://www.linkedin.com/in/justrlax/" alt="linkedin">{% svg ../../assets/resources/linkedin.svg %}</a></li>
            <li><a target="_blank" href="https://www.instagram.com/jlax86/" alt="instagram">{% svg ../../assets/resources/instagram.svg %}</a></li>
            <li><a target="_blank" href="https://dribbble.com/jlax86" alt="dribbble">{% svg ../../assets/resources/dribbble.svg %}</a></li>
            <li><a target="_blank" href="https://codepen.io/jlax86/" alt="codepen">{% svg ../../assets/resources/codepen.svg %}</a></li>
          </ul>
          <p>© Copyright 2019. All Rights Reserved. Justin Laxamana</p>
        </div> <!-- / __details -->
      </footer> <!-- / .info -->
    </div> <!-- / __foreground -->

    <div class="scene__bird scene__bird--higher">
      {% svg ../../assets/resources/bird.svg %}
    </div> <!-- / __bird -->
    <div class="scene__bird scene__bird--lower">
      {% svg ../../assets/resources/bird.svg %}
    </div> <!-- / __bird -->
  </div> <!-- / .scene -->
</footer>
<div id="contact" class="mfp-hide">
  <div class="contact-me">
    <a href="mailto:hello@jlax86.com">hello@jlax86.com</a>
  </div> <!-- / .contact-me -->
</div> <!-- / .mfp-hide -->
