<header class="main-header">
  <a href="/" class="logo">{% svg ../../assets/resources/logo-small.svg %}</a>
  <nav>
    <ul>
      <li><a href="/">{{ site.header.test }}2</a></li>
      <li><a href="/projects">Client Work</a></li>
      <li>
        <a class="with-dropdown" href="#">Drift Videos</a>
        <ul class="dropdown">
          <li><a href="/fb3">Final Bout 3</a></li>
          <li><a href="/matsuri">Super D Matsuri 2018</a></li>
          <li><a href="/jam">Club FR Jam 2018</a></li>
          <li><a href="/mwt">Super D Midwest Trial</a></li>
          <li><a href="/rio">Rio Bash</a></li>
          <li><a href="/misc">Miscellaneous</a></li>
        </ul>
      </li>
    </ul>
    <a href="/contact" class="button">Contact</a>
  </nav>
</header>
<main role="main">
