//Image Modals
.image-container {
  max-width: 1000px;
  margin: 0 auto;
  &.sm {
    max-width: 350px;
  }
  p {
    @include p();
    width: 100%;
    padding: 0 5px;
    line-height: 1.4;
    color: $white;
    margin-top: 10px;
  }
  a {
    color: $white;
    @include a-link;
  }
}

//Alert
.alert-container {
  max-width: 440px;
  background: rgba(0,0,0,.6);
  padding: 20px;
  margin: 0 auto;
  color: $white;
  text-align: center;
  h2 {
    @include h2(10px);
    width: 100%;
  }
  p {
    @include p();
    width: 100%;
  }
  .button {
    transition: $dt;
    margin: 0 10px 10px;
    &:hover {
      background: $white;
      color: $red;
    }
  }
}
