<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, viewport-fit=cover" />
    <link href="https://fonts.googleapis.com/css?family=Lato:400,400i,700|Oswald:400,700" rel="stylesheet">
    <link rel="stylesheet" href="/assets/styles/application.css">
  </head>
  {% include header.html %}
  <body class="{{ page.class }}">

    {{ site.baseurl }}

    {{ content }}

    {% include footer.html %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="assets/js/jquery.min.js"><\/script>')</script>
    <script type="text/javascript" src="/assets/js/application-vendor.js"></script>
    <script type="text/javascript" src="/assets/js/application.js"></script>
  </body>
</html>
