---
layout: default
---
<div class="grid">
  <div class="grid-intro">
    <div class="container">
      <div class="grid-intro__content">
        <h1 data-aos="fade-left" data-aos-delay="500" data-aos-easing="ease-in-out" data-aos-duration="500">{{ page.the_name}}</h1>
        <div class="content" data-aos="fade-right" data-aos-delay="700" data-aos-easing="ease-in-out" data-aos-duration="500">
          <div class="details">
            {{ page.the_description }}
          </div> <!-- / .details -->
        </div>
      </div> <!-- / __content -->
      <div class="grid-intro__circle">
        <div class="image">
          <picture data-aos="fade-right" data-aos-delay="900" data-aos-easing="ease-in-out" data-aos-duration="500">
            <source media="(min-width: 1900px)" srcset="https://res.cloudinary.com/justinlaxamana/image/upload/c_scale,w_1920{{ page.featured_images.large}}, https://res.cloudinary.com/justinlaxamana/image/upload{{ page.featured_images.large}} 2x">
            <source media="(min-width: 1300px)" srcset="https://res.cloudinary.com/justinlaxamana/image/upload/c_scale,w_1500{{ page.featured_images.large}}, https://res.cloudinary.com/justinlaxamana/image/upload/c_scale,w_1920{{ page.featured_images.large}} 2x">
            <source media="(min-width: 700px)" srcset="https://res.cloudinary.com/justinlaxamana/image/upload/c_scale,w_700{{ page.featured_images.large}}, https://res.cloudinary.com/justinlaxamana/image/upload/c_scale,w_1500{{ page.featured_images.large}} 2x">
            <source media="(min-width: 200px)" srcset="https://res.cloudinary.com/justinlaxamana/image/upload/c_scale,w_500{{ page.featured_images.large}}, https://res.cloudinary.com/justinlaxamana/image/upload/c_scale,w_700{{ page.featured_images.large}} 2x">
            <img src="https://res.cloudinary.com/justinlaxamana/image/upload/c_scale,w_700{{ page.featured_images.large}}" alt="Final Bout 3 Image">
          </picture>
        </div> <!-- / .image -->
        <div class="corner" data-aos="fade-left" data-aos-delay="1000" data-aos-easing="ease-in-out" data-aos-duration="500">
          <picture>
            <source media="(min-width: 700px)" srcset="https://res.cloudinary.com/justinlaxamana/image/upload/c_scale,w_500{{ page.featured_images.small}}, https://res.cloudinary.com/justinlaxamana/image/upload/c_scale,w_700{{ page.featured_images.small}} 2x">
            <img src="https://res.cloudinary.com/justinlaxamana/image/upload/c_scale,w_700{{ page.featured_images.small}}" alt="Final Bout 3 Image">
          </picture>
        </div> <!-- / .corner -->
      </div> <!-- / __circle -->
    </div> <!-- / .container -->
  </div> <!-- / .grid-intro -->

  <div class="grid-section">
    <div class="container">
      <div class="grid-section__header">
        <h2>Videos</h2>

        {% for video in page.videos.video %}
        {% if video.is_featured %}
        <div class="grid-section__item" data-aos="fade-up"  data-aos-easing="ease-in-out" data-aos-delay="100" data-aos-duration="500">
          {% if video.coming_soon %}
          <div class="soon"><span>Coming Soon</span></div>
          {% endif %}
          <div class="image">
            <picture>
              <source media="(min-width: 1200px)" srcset="https://res.cloudinary.com/justinlaxamana/image/upload/c_scale,w_700{{ video.thumbnail}}, https://res.cloudinary.com/justinlaxamana/image/upload/c_scale,w_1500{{ video.thumbnail}} 2x">
              <source media="(min-width: 700px)" srcset="https://res.cloudinary.com/justinlaxamana/image/upload/c_scale,w_500{{ video.thumbnail}}, https://res.cloudinary.com/justinlaxamana/image/upload/c_scale,w_700{{ video.thumbnail}} 2x">
              <img src="https://res.cloudinary.com/justinlaxamana/image/upload/c_scale,w_700{{ video.thumbnail}}" alt="{{ page.the_name }} Image">
            </picture>
            <div class="image__contents">
              <a href="{{ video.youtube }}" class="play">
                {% svg ../../assets/resources/play.svg %}
              </a>
              <a href="{{ video.download }}" download class="download">
                {% svg ../../assets/resources/download.svg %}
              </a>
            </div> <!-- / __contents -->
          </div> <!-- / .image -->
        </div> <!-- / __item -->

		{% endif %}
        {% endfor %}


        {% if page.logo.url == '' %}
        <span class="logo">
          <img src="https://res.cloudinary.com/justinlaxamana/image/upload{{ page.logo.image}}" alt="{{ page.the_name }} Logo">
        </span>
        {% else %}
        <a href="{{ page.logo.url}}" target="_blank" class="logo">
          <img src="https://res.cloudinary.com/justinlaxamana/image/upload{{ page.logo.image}}" alt="{{ page.the_name }} Logo">
        </a>
        {% endif %}
      </div> <!-- / __header -->
      <div class="grid-section__grid">

        {% for video in page.videos.video %}
        {% unless video.is_featured %}
        <div class="grid-section__item" data-aos="fade-up"  data-aos-easing="ease-in-out" data-aos-duration="500">
          {% if video.coming_soon %}
          <div class="soon"><span>Coming Soon</span></div>
          {% endif %}
          <div class="image">
            <picture>
              <source media="(min-width: 1200px)" srcset="https://res.cloudinary.com/justinlaxamana/image/upload/c_scale,w_700{{ video.thumbnail}}, https://res.cloudinary.com/justinlaxamana/image/upload/c_scale,w_1500{{ video.thumbnail}} 2x">
              <source media="(min-width: 700px)" srcset="https://res.cloudinary.com/justinlaxamana/image/upload/c_scale,w_500{{ video.thumbnail}}, https://res.cloudinary.com/justinlaxamana/image/upload/c_scale,w_700{{ video.thumbnail}} 2x">
              <img src="https://res.cloudinary.com/justinlaxamana/image/upload/c_scale,w_700{{ video.thumbnail}}" alt="{{ page.the_title }} Image">
            </picture>
            <div class="image__contents">
              <a href="{{ video.youtube }}" class="play">
                {% svg ../../assets/resources/play.svg %}
              </a>
              <a href="{{ video.download }}" download class="download">
                {% svg ../../assets/resources/download.svg %}
              </a>
            </div> <!-- / __contents -->
          </div> <!-- / .image -->
        </div> <!-- / __item -->
        {% endunless %}
        {% endfor %}

      </div> <!-- / __grid -->
    </div> <!-- / .container -->
  </div> <!-- / .grid-section -->
  <span class="grid__bg1 grid__bg"></span>
  <span class="grid__bg2 grid__bg"></span>
  <span class="waypoint" data-aos="fade"></span>
</div> <!-- / .grid -->
{{ content }}
